.t_0 {
    width: 23px;
    aspect-ratio: 1;
    border: 1px solid black;
    background-color: #f0f0f0;
}

.t_1 {
    width: 23px;
    aspect-ratio: 1;
    border: 1px solid black;
    background-color: #99ffff;
}

.t_2 {
    width: 23px;
    aspect-ratio: 1;
    border: 1px solid black;
    background-color: #ff99ff;
}

.t_3 {
    width: 23px;
    aspect-ratio: 1;
    border: 1px solid black;
    background-color: #ffff99;
}

.t_4 {
    width: 23px;
    aspect-ratio: 1;
    border: 1px solid black;
    background-color: #99ff99;
}

.t_5 {
    width: 23px;
    aspect-ratio: 1;
    border: 1px solid black;
    background-color: #9999ff;
}

.t_6 {
    width: 23px;
    aspect-ratio: 1;
    border: 1px solid black;
    background-color: #ff9999;
}

.t_7 {
    width: 23px;
    aspect-ratio: 1;
    border: 1px solid black;
    background-color: #bcff2c;
}

.row {
    display: flex;
}

.board {
    border: 1px solid black;
    margin: auto;
    width: fit-content;
}

.infotext {
    margin: auto;
    width: fit-content;
}

.gameovertext {
    margin: auto;
    width: fit-content;
    color: red;
}